* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --coloro-Explorer-dark: #065E7C;
}

html, 
body, 
input {
  font-family: "Mulish", sans-serif;
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

main,
.sidebar {
  margin: 0 auto;
  padding-left: 2.2rem;
}

.sidebar {
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--coloro-Explorer-dark);
  height: 7.2rem;
}

header #logopatadegato {
  width: 4rem;
  height: 4rem;
  padding: .8rem;
  background: #F4FCFF;
  border-radius: 50%;
}

header #Jojo {
  margin-right: 2.8rem;
  width: 4.2rem;
  height: 4.2rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.20);
  border: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  opacity: 1;
  color: #ffffff;
}

main {
  background: #fff;
}

main h1 {
  padding-top: 3.1rem;
  padding-bottom: .8rem;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
}

#like {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  margin-right: 1.2rem;

  background: #065E7C;
  border-style: hidden;
}

#unlike {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  background: #065E7C;
  border-style: hidden;
}

main p {
  width: 382px;
  padding-top: 3.2rem;

  color: var(--Platform-Aliases-Background, #121214);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.sidebar h1 {
  padding-top: 3.4rem;
  padding-bottom: 3.2rem;

  color: #202024;

  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.timg {
  width: 38rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.timg h2 {
  color: #202024;
  font-family: Mulish;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.timg p {
  color: #121214;
  font-family: Mulish;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

footer {
  
}

footer button {
  background: #387E96;;

  display: flex;
  width: 100vw;
  height: 6.4rem;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-style: none;

  color: #FFF;

  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 700px) {
  .novoapp {
    display: flex;
  }

  #app {
    max-width: 1024px;
    gap: 10rem;
  }

 
}